.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.box1 {
  border: 0.1px solid;
  width: 33%;
  height: 310px;
  background: green;
  font-size: 15px;
}

#box {
  border: 0.1px solid;
  width: 100%;
  height: 310px;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
   /* flex-grow: 1;  */
}

.Title-Name {
  display: flex;
  flex-direction: column;
   
}

.Title-Name1 {
    /* display: flex; */
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
     
  }

  #jr {

    text-align: center;
  }

  body {
    border: 1px solid;
    justify-content: space-between;

  }